ul {
  display: flex;
  list-style-type: none;
  gap: 3rem;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

a.active {
  border-bottom: 2px solid black;
}
a:hover {
  border-bottom: 2px solid black;
  color: black;
}
a {
  color: black;
  height: 100%;
}

svg {
  width: 50px;
  font-size: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.menu-right {
  display: flex;
  gap: 0.5rem;
  max-width: 150px;
}

.shopingcart-icon :hover {
  border-bottom: 1px solid black;
}

.menu-left {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopingcart-container {
  position: relative;
}

.shopingcart-icon > p {
  position: absolute;
  background-color: rgb(222, 215, 121);
  color: rgb(23, 23, 23);
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  top: -20px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** ---------- mindre skärmar -------------**/
@media (max-width: 1000px) {
  svg {
    width: 30px;
    font-size: 18px;
  }

  .main-menu li {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .main-menu {
    display: none;
  }
}

