ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  /* margin-right: 0.8rem; */
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

a.active {
  border-bottom: 2px solid black;
}
a:hover {
  border-bottom: 2px solid black;
  color: black;
}
a {
  color: black;
  height: 100%;
}

svg {
  width: 50px;
  font-size: 20px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-right {
  display: flex;
  gap: 0.5rem;
}

.shopingcart-icon :hover {
  border-bottom: 1px solid black;
}

.menu-left {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main-menu {
    display: none;
  }
}
