.main {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.routes {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}
.sectionLine {
    border-bottom: 1px solid darkgray;
    width: 50%;
    margin: 2rem 0rem;
}