
.AdminPanel{
    display: flex;  
}

.AdminProductList,
.AdminOrderList {
    max-width: 300px;  
}


.AdminPanelProductList{
    margin-right: 9rem;
}

.AdminOrderList{
    margin-left: 11rem;
}

.admin-title {
    font-size: 24px;
    padding-bottom: 2.5rem;
}

.AdminPanelProductList h1{
    font-size: 24px;
    padding-bottom: 1rem;
}

.AdminOrderList h1 {
    font-size: 23px;
    padding-bottom: 1rem;
}

.newProductAdmin{
    /* border: .3rem solid green; */
    padding-bottom: 3.5rem;
}

.AdminProduct{
    padding-bottom: 2.5rem;
}

@media (max-width: 1180px) {
    .AdminProductList,
    .AdminOrderList {
        max-width: 250px;  
    }

    .AdminOrderList h1 {
        font-size: 20px;
        padding-bottom: 1rem;
    }

    .AdminPanelProductList h1{
        font-size: 20px;
        padding-bottom: 1rem;
    }

    .admin-title {
        font-size: 21px;
        padding-bottom: 2.5rem;
    }

    .AdminPanelProductList{
        margin-right: 8rem;
    }
    
    .AdminOrderList{
        margin-left: 3rem;
    }

    }

    @media (max-width: 900px) {
        .AdminProductList,
        .AdminOrderList {
            max-width: 150px;  
        }

        .AdminPanelProductList{
            margin-right: 7rem;
        }
        
        .AdminOrderList{
            margin-left: 2rem;
        }

        .AdminOrderList h1 {
            font-size: 17px;
            padding-bottom: 1rem;
        }
    
        .AdminPanelProductList h1{
            font-size: 17px;
            padding-bottom: 1rem;
        }
    
    
    }