
.AdminPanel{
    display: flex;  
}

.AdminProductList,
.AdminOrderList {
    width: 300px;  
}

.AdminPanelProductList{
    margin-right: 9rem;
}

.AdminOrderList{
    margin-left: 11rem;
}

.admin-title {
    font-size: 23px;
    padding-bottom: 2.5rem;
}

.AdminPanelProductList h1{
    font-size: 24px;
    padding-bottom: 1rem;
}

.AdminOrderList h1 {
    font-size: 24px;
    padding-bottom: 1rem;
}

.newProductAdmin{
    /* border: .3rem solid green; */
    padding-bottom: 3.5rem;
}

.AdminProduct{
    padding-bottom: 2.5rem;
}
