.Store-title {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  height: 10rem;
  align-items: center;
}

.menu-container {
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
}

img.logo{
object-fit: cover;
  height: 10rem;
  width: 20rem;
}

