.btnStyle {
    display: inline-block;
    padding: .7em 2em ;
    background: #d7d6d6;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: 2px;
    /* transition: transform 200ms ease-in-out; */
    border: none;
    border-radius: .2rem;
}

.btnStyle:hover {
    /* transform: scale(1.1); */
    background-color: #7e7d7d9d ;
}

.btnStyleCompleted {
    display: inline-block;
    padding: .7em 2em ;
    background: #b0ddb4;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: 2px;
    /* transition: transform 200ms ease-in-out; */
    border: none;
    border-radius: .2rem;
}

.btnStyleAdmin {
    display: inline-block;
    padding: .4em 1.8em ;
    background: #a4c4e998;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: 2px;
    /* transition: transform 200ms ease-in-out; */
    border: none;
    border-radius: .2rem;
}

.btnStyleAdmin:hover {
    background: #1f67b998;
}

@media (max-width: 900px) {

    .btnStyleAdmin {
        display: inline-block;
        padding: .3em 1em ;
        background: #a4c4e998;
        color: #000;
        text-decoration: none;
        cursor: pointer;
        font-size: .7rem;
        letter-spacing: 2px;
        /* transition: transform 200ms ease-in-out; */
        border: none;
        border-radius: .2rem;
    }
  }
