.productcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 350px;
  margin: .5rem;
  padding: 1rem;
  /* border: 1px solid #c0bfbd83; */
}
.ProductCardInfo{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0.5rem;
}

.productcard > img {
  width: fit-content;
  max-height: 150px;
  transition: transform 200ms ease-in-out;
  overflow: hidden;
}

.productcard > img:hover {
  transform: scale(1.1);
}

.productcard h3 {
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}