.cartItem img {
    width: fit-content;
    max-height: 75px;
}

.cartItem {
    margin-top: 1rem;
    padding-top: 1em;
    padding-bottom: .5rem;
    max-width: 250px;
}

.cartItem h3 {
    font-size: 15px;
}