.SingleProduct {
    display: flex;
    cursor:context-menu;
    margin-left: 3rem;
    padding: 3rem;
    padding-top: 2rem;
    
}

.SingleProduct .title img{
   max-height: 200px;
   margin-top: 8rem;
   overflow: hidden;
}

.SingleProduct h3 {
    font-size: 23px;
}

.info {
    margin: 5rem;
    font-size: 17px;
    padding: 1rem;

}

.link-singleproduct {
text-decoration: none;
padding-right: 1em;
}


.info button {
    align-items: flex-end;
    margin-top: 1rem;
}


@media (max-width: 900px) {

    .SingleProduct .title img{
        max-height: 200px;
        margin-top: 7rem;
        overflow: hidden;
     }

     .SingleProduct h3 {
        font-size: 18px;
    }

    .info {
        margin: 4rem;
        font-size: 14px;
        padding: 1rem;    
    }
     

  }

  @media (max-width: 500px) {
    .SingleProduct {
        display: flex;
        flex-direction: column;
        cursor:context-menu;
        margin: 2rem;
        padding-top: 1rem;
    }

    .SingleProduct .title img{
        max-height: 170px;
        /* padding-left: 4em; */

     }

     .SingleProduct .title{
        text-align: center;
        /* padding-left: 4em; */

     }

    .SingleProduct h3 {
        font-size: 16px;
    }

    .info {
        margin: 0rem;
        font-size: 13px;
        text-align: center;
    
    }

    .link-singleproduct {
        text-decoration: none;
        
        font-size: 12px;
        text-align: center;
        font-weight: 600;

        }
    }
   
    @media (max-width: 740px) {
        .SingleProduct {
            display: flex;
            flex-direction: column;
            cursor:context-menu;
            margin: 2rem;
            padding-top: 1rem;
        }
    
        .SingleProduct .title img{
            max-height: 200px;
            /* padding-left: 4em; */
    
         }
    
         .SingleProduct .title{
            text-align: center;
            /* padding-left: 4em; */
    
         }
    
        .SingleProduct h3 {
            font-size: 20px;
        }
    
        .info {
            margin: 0rem;
            font-size: 15px;
            text-align: center;
        
        }
    
        .link-singleproduct {
            text-decoration: none;
            
            font-size: 12px;
            text-align: center;
            font-weight: 600;
    
            }
        }
       