.SingleProduct {
    display: flex;
    cursor:context-menu;
    margin-left: 3rem;
    padding: 3rem;
    padding-top: 2rem;
    
}

.SingleProduct > .title img{
   max-height: 350px;
   margin-top: 1rem;
   padding-top: 7rem;

}

.SingleProduct h3 {
    font-size: 23px;
}

.SingleProduct >.info {
    margin: 5rem;
    font-size: 17px;
    padding: 1rem;

}



.info button {
    align-items: flex-end;
    margin-top: 1rem;
}