.shopingcart-product-card {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.shopingcart-img img {
  height: 5rem;
}

.shopingcart-info h3 {
  margin-left: 10px;
  margin-top: 0px;
}
